# caches
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# venv
venv/
.venv/
**/venv/
**/.venv/
.env/

# jupiter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
**/.DS_Store

# logs
**/logs/**
!**/logs/**/.gitkeep
!**/logs/**/README.md

# run artifacts
**/runs/**
!**/runs/**/.gitkeep
!**/runs/**/README.md

# datasets
**/datasets/**
!**/datasets/**/.gitkeep
!**/datasets/**/README.md