# config.yaml
# here we set all the parameters.

data:
  dataset_root: datasets/HAGRID/hagrid_more_than_15
  input_size: 128 # the grayscale images are resized to 128x128
  num_classes: 6

preprocess:
  type: letterbox        # may add different methods in future
  fill: 0                # padding value for letterbox
  # normalize:
  #   mean: 0.5 # TODO, get train values
  #   std: 0.5 # TODO, get train values

train:
  batch_size: 64
  num_workers: 4
  shuffle: true
  max_train_batches: null # set to a int for quicker testing, set to null for full training
  max_val_batches: null # set to a int for quicker testing, set to null for full validation
  epochs: 35
  lr: 1e-3

model:
  type: baseline_cnn
  in_channels: 3 # 1 = grayscale, 3 = RGB
  num_classes: 6 # match data.num_classes!

  # stages define channel widths after each downsampling
  channels: [16, 32, 64, 128]
  # convs per stage (1 = Conv-ReLU-Pool, 2 = Conv-ReLU-Conv-ReLU-Pool)
  blocks_per_stage: 2
  kernel_size: 3

debug:
  plot_images: true # set false to disable plotting images during training
  n_plot_per_class: 5

seed: 42